# API Configuration
# Copy this file to .env and fill in the values
API_PROTOCOL=http
API_HOST_WEB=localhost
API_HOST_ANDROID_EMULATOR=10.0.2.2
API_HOST_LAN=YOUR_LAN_IP_HERE
API_PORT=8000
API_PATH=/api/v1

# Device Configuration
# Set to true if using Android Emulator, false if using real device (HP fisik)
USE_EMULATOR=true

# Office Location Config
OFFICE_LAT=-7.254776
OFFICE_LNG=112.717212
RADIUS_LIMIT=200

